@media (max-width:800px){

      .container section{

        width:100%;

      }

}
h1{
  text-align: center;
}

h2{
  text-align: center;
}

.about{
  text-align: center;
}
iframe{
  align:center;
}
body{
  background-color: #99badd;

  font-family: geneva;
}
.nav_link{
  text-decoration: none;

}
p{

  color: #0B0B61;
}

.flex_menu{

    display:flex;


}

.flex_nav{
    border-style: solid;

    width:25%;
    text-align: center;
    background-color: #4169E1;
}

.flex_nav p{
    color: white;
}

.flex_nav a{
  text-decoration: none;
}


.feat{
  margin-top: 5%;
  text-align: center;
}

.container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5%;
}

.feat_2{


  border-style:solid;
  width:30%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.feat_3{


  border-style:solid;
  width: 30%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}


.feat_img{
  width: 60%;
  height: 40%;
  display:block;
  margin: auto;
  margin-bottom: 5%;
}

.contain {
  display:flex;
  width: 100%;
  height: 20%;
  border: 1px solid;
  margin-top: 10%;
  margin-bottom: 2%;

}



.contain div {

  width: 100%;
}

.contain .header {
  background-color: #4169E1;
  padding: 2px;

  cursor: pointer;
  font-weight: bold;
}

.contain .content {
  display: none;
  padding: 5px;
}
